body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #B4B4AF;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background-color: #7C7B6D;
}

.navbar-inverse .navbar-nav > li > a 
{
    color: white;
}
.navbar-inverse .navbar-brand
{
    color: white;
}