<div class="row">
    <div class="col-xs-12 col-md-12">
        <dropdownbox [title]="'Groups'" [content]="page.Groups" [content-type]="'group'">
            <button class="btn btn-default btn-lg" [routerLink]="['/dashboard', { outlets: { dashboard: ['creategroup'] } }]" ddb-create>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </dropdownbox>

        <dropdownbox [title]="'Assignments'" [content]="page.Assignments" [content-type]="'assignment'" *ngIf="page.Assignments?.length">
            <button class="btn btn-default btn-lg" [routerLink]="['/dashboard', { outlets: { dashboard: ['createassignment'] } }]" ddb-create>
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
        </dropdownbox>

        <dropdownbox [title]="'Schedule'">
            <div ddb-item>
                <lms-schedule-app [groupId]="page.Groups[0].Id" class="."></lms-schedule-app>
            </div>
        </dropdownbox>

        <div *ngFor="let item of page.Courses">
            <dropdownbox [title]="item.Description" [content]="item.Segments" [content-type]="'course'">
                <button class="btn btn-default btn-lg" [routerLink]="['/dashboard', { outlets: { dashboard: ['createcourse', item.GroupId] } }]" ddb-create>
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
            </dropdownbox>
        </div>
        <!--<dropdownbox [title]="'Courses'" [content]="courses" [content-type]="'dunno'"></dropdownbox>
        <dropdownbox [title]="'Courses'" [content]="courses" [content-type]="'dunno'"></dropdownbox>-->
    </div>
</div>