<div class="row">
    <div class="col-xs-12 col-md-12">
        <dropdownbox [title]="'Assignments'" [content]="assignments" [content-type]="'assignment'">

        </dropdownbox>
        <dropdownbox [title]="'Schedule'" [content]="schedule" [content-type]="'course'">

        </dropdownbox>
        <dropdownbox [title]="'Courses'" [content]="courses" [content-type]="'course'">

        </dropdownbox>
        <dropdownbox [title]="'Courses'" [content]="courses" [content-type]="'course'">

        </dropdownbox>
        <dropdownbox [title]="'Courses'" [content]="courses" [content-type]="'course'">

        </dropdownbox>
    </div>
</div>