<div class="row">
    <div class="col-xs-12 col-md-12">
        <dropdownbox [title]="'Groups'" [content]="page.Groups" [content-type]="'group'"></dropdownbox>
        <dropdownbox [title]="'Assignments'" [content]="page.Assignments" [content-type]="'assignment'"></dropdownbox>
        <dropdownbox [title]="'Schedule'" [content]="schedule" [content-type]="'schedule'"></dropdownbox>
        
        <div *ngFor="let item of page.Courses">
            <dropdownbox [title]="item.title" [content]="item.Segments" [content-type]="'course'"></dropdownbox>
        </div>
        
        <!--<dropdownbox [title]="'Courses'" [content]="courses" [content-type]="'dunno'"></dropdownbox>
        <dropdownbox [title]="'Courses'" [content]="courses" [content-type]="'dunno'"></dropdownbox>-->
    </div>
</div>