<div class="col-md-12 col-xs-12 dropdownbox">
    <div class="col-md-10 col-xs-10 titlecontainer" (click)="OpenClose()">
        <h3 class="title">{{Title}}</h3>
    </div>
    
    <span *ngIf="!CreateId && ContentType == 'group'">
        <button class="btn btn-default btn-xs" [routerLink]="['/dashboard', { outlets: { dashboard: ['create'+ContentType] } }]">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </button>
    </span>
    <span *ngIf="CreateId && ContentType == 'course'">
        <button class="btn btn-default btn-xs" [routerLink]="['/dashboard', { outlets: { dashboard: ['createsegment', CreateId] } }]">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </button>
    </span>
    <span *ngIf="CreateId && ContentType == 'segment'">
        <button class="btn btn-default btn-xs" [routerLink]="['/dashboard', { outlets: { dashboard: ['createsegment', CreateId] } }]">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </button>
    </span>

    <div *ngIf="Content && Content.length" [@openClose]="isOpen" class="itemscontainer">
        <div *ngIf="ContentType === 'course'">
            <div *ngFor="let item of Content; let i = index" class="item">
                <a [routerLink]="['/dashboard', { outlets: { dashboard: [ContentType, item.Id] } }]">
                    <h3>{{item.Description}} | {{item.Subject}}</h3>
                </a>
            </div>
        </div>
        <div *ngIf="ContentType == 'group'">
            <div *ngFor="let item of Content; let i = index" class="item">
                <a [routerLink]="['/dashboard', { outlets: { dashboard: [ContentType, item.Id] } }]">
                    <h3 style="display:inline-block">{{item.Name}} | {{item.Description}}</h3>
                </a>
                <div class="btn-group">
                    <button class="btn btn-default btn-xs" [routerLink]="['/dashboard', { outlets: { dashboard: ['editgroup', item.Id] } }]">
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default btn-xs" [routerLink]="['/dashboard', { outlets: { dashboard: ['removegroup', item.Id] } }]">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                    </button>
                </div>

            </div>
        </div>
        <div *ngIf="ContentType == 'dunno'">
            <p class="item">Test:</p>
            <h1>Doesn't</h1>
            <h2>Look</h2>
            <h3>Like</h3>
            <h4>Anything</h4>
            <h5>To</h5>
            <h6>Me</h6>
        </div>
    </div>
</div>
