<div [ngSwitch]="LoginPanelIsOpen">
    <button *ngSwitchCase="false" (click)="OpenPanel()">Login</button>
    <form *ngSwitchCase="true" #loginForm="ngForm">
        <input type="text" placeholder="User Name" (blur)="ClosePanel()" (focus)="StopHidingPanel()" [(ngModel)]="_user.Username" name="username" [autofocus] required />
        <input type="password" placeholder="Password" (blur)="ClosePanel()" (focus)="StopHidingPanel()" [(ngModel)]="_user.Password" name="password" required />
        <div class="checkbox">
            <label>
                <input type="checkbox" [(ngModel)]="_user.RememberMe" name="remember"> Remember me
            </label>
        </div>
        <button class="btn btn-primary" [disabled]="!loginForm.form.valid" (click)="login()">Login</button>
    </form>
</div>