<div class="row">
    <div class="col-xs-12 col-md-12">
        <dropdownbox [title]="'Assignments'" [content]="assignments" [content-type]="'assignment'">

        </dropdownbox>

        <div class="dropdownbox" style="position:relative;width:100%;margin-top:5em">
            <lms-schedule-app [groupId]="page.Groups[0].Id" class="."></lms-schedule-app>
        </div>

        <dropdownbox [title]="'Courses'" [content]="courses" [content-type]="'course'">

        </dropdownbox>
        <dropdownbox [title]="'Courses'" [content]="courses" [content-type]="'course'">

        </dropdownbox>
        <dropdownbox [title]="'Courses'" [content]="courses" [content-type]="'course'">

        </dropdownbox>
    </div>
</div>